header {

    background-color: blanchedalmond;
    color:#4b4c4d;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    border-bottom: 2px solid gray;
}

#neutralinoapp {
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

#neutralinoapp h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#neutralinoapp > div {
    font-size: 16px;
    font-weight: normal;
}

.btn-download {
    cursor: pointer;
    right: 0;
    bottom: 25px;
    position: relative;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
  }
  .btn-download:hover {
    background: rgba(34, 50, 84, 0.03);
  }
  .btn-download svg {
    margin: 16px 0 0 16px;
    fill: none;
    transform: translate3d(0, 0, 0);
  }
  .btn-download svg polyline,
  .btn-download svg path {
    stroke: #0077FF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all 0.3s ease;
    transition-delay: 0.3s;
  }
  .btn-download svg path#check {
    stroke-dasharray: 38;
    stroke-dashoffset: 114;
    transition: all 0.4s ease;
  }
  .btn-download.downloaded svg .svg-out {
    opacity: 0;
    animation: drop 0.3s linear;
    transition-delay: 0.4s;
  }
  .btn-download.downloaded svg path#check {
    stroke: #20CCA5;
    stroke-dashoffset: 174;
    transition-delay: 0.4s;
  }
  
  @keyframes drop {
    20% {
      transform: translate(0, -3px);
    }
    80% {
      transform: translate(0, 2px);
    }
    95% {
      transform: translate(0, 0);
    }
  }
  .credit {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.6;
  }
  .credit img {
    width: 72px;
  }
  .credit:hover {
    transform: scale(0.95);
  }

  li {
      position: relative;
      padding: 0 0 0 2em;
      border-bottom: 1px solid black;
      margin-bottom: 1em;
      list-style: url("/icons/appIcon.png");
      margin-left: 21%;
      margin-right: 25%;
  }

  body {
      background-color: bisque;
      color: black;
  }
  footer {
      padding:20px 0;
      background-color: blanchedalmond;
      color:#4b4c4d;
      bottom: 0;
      position: relative;
      right: 0;
      left: 0;
      text-align: center;
      border-top: 2px solid gray;
}

  footer>a {
      color: blue;
      text-decoration: none;
  }

  footer>h6>a {
    color: blue;
    text-decoration: none;
}

  input {
      margin-top: 20px;
      color: bisque;
      background-color: #4b4c4d;
      border: 3px solid black;
      border-radius: 25px;
      margin-left: 5px;
      text-align: center;
  }

input[type=text]:focus {
    border: 3px solid #555;
    border-radius: 25px;
}

h1 {
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
